<h2>Connexion</h2>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button type="submit">Se connecter</button>
{{ form_end(form) }}

{% for msg in app.flashes('success') %}
    <p style="color: green">{{ msg }}</p>
{% endfor %}
{% for msg in app.flashes('error') %}
    <p style="color: red">{{ msg }}</p>
{% endfor %}
